<!-- ###TEMPLATE_FORM1### begin -->

    <form method="post" action="###value_newpath###">

        ###ERROR###

        <div>
            <label for="name">###LLL:title###:</label>
            <input type="text" name="formhandler[t3title]" id="name" value="###value_t3title###" />
        </div>
        <div>
            <label for="name">###LLL:name###:</label>
            <input type="text" name="formhandler[t3name]" id="name" value="###value_t3name###" />
        </div>
        <div>
            <label for="name">###LLL:email###:</label>
            <input type="text" name="formhandler[t3email]" id="name" value="###value_t3email###" />
        </div>

        <input type="hidden" ###submit_nextStep### value="1" />
        <input type="submit" class="button" name="submit" value="###LLL:submit###" ###submit_nextStep### />

    </form>

<!-- ###TEMPLATE_FORM1### end -->


<!-- -------------------------------------------------------------------------------------------------------------- -->


<!-- ###TEMPLATE_SUBMITTEDOK### begin -->

    SUBMITTED OK

<!-- ###TEMPLATE_SUBMITTEDOK### end -->


<!-- -------------------------------------------------------------------------------------------------------------- -->


<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### begin -->

    TEMPLATE_EMAIL_ADMIN_PLAIN
    ###LLL:title###: ###value_t3title###
    ###LLL:name###: ###value_t3name###
    ###LLL:email###: ###value_t3email###

<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### end -->


<!-- -------------------------------------------------------------------------------------------------------------- -->


<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### begin -->

    TEMPLATE_EMAIL_ADMIN_HTML<br/>
    <strong>###LLL:title###:</strong> ###value_t3title###<br/>
    <strong>###LLL:name###:</strong> ###value_t3name###<br/>
    <strong>###LLL:email###:</strong> ###value_t3email###<br/>

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### end -->


<!-- -------------------------------------------------------------------------------------------------------------- -->


<!-- ###TEMPLATE_EMAIL_USER_PLAIN### begin -->

    TEMPLATE_EMAIL_USER_PLAIN
    ###LLL:title###: ###value_t3title###
    ###LLL:name###: ###value_t3name###
    ###LLL:email###: ###value_t3email###

<!-- ###TEMPLATE_EMAIL_USER_PLAIN### end -->


<!-- -------------------------------------------------------------------------------------------------------------- -->


<!-- ###TEMPLATE_EMAIL_USER_HTML### begin -->

    TEMPLATE_EMAIL_USER_HTML<br/>
    <strong>###LLL:title###:</strong> ###value_t3title###<br/>
    <strong>###LLL:name###:</strong> ###value_t3name###<br/>
    <strong>###LLL:email###:</strong> ###value_t3email###<br/>

<!-- ###TEMPLATE_EMAIL_USER_HTML### end -->



